[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
transformers = "*"
torch = "*"
torch-model-archiver = "*"
packaging = "*"

[requires]
python_version = "3.9"
