[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
torch = "*"
transformers = {extras = ["torch"], version = "*"}

[requires]
python_version = "3.9"
