uvicorn
fastapi
langchain
pypdf
openai
tiktoken
chromadb
python-multipart
scikit-learn
fastapi-async-langchain
anthropic
promptlayer
manim
latex
langchain_experimental
sentence-transformers
numexpr
matplotlib
seaborn
google-cloud-aiplatform